# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
out/
build/
dist/

# Misc
.DS_Store
*.pem
.env*.local
.vercel
*.log

# Testing
coverage/
.nyc_output/

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
